.contacts {
    background-color: #026fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contacts h3 {
    font-weight: 900;
  }
  .social {
    padding-bottom: 1em;
  }
  .social a {
    text-decoration: none;
    margin: 0.5em;
  }
  
  .social-link {
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  .social-link.linkedin {
    background-image: url("../images/linkedin.png");
    background-size: 50px 50px;
  }
  
  .form-email input {
    border-color: gray;
    padding: 5px 5px 5px 25px;
    border-style: solid;
    border-radius: 5px;
    background-size: 15px 15px;
    background-image: url("../images/envelope.svg");
    background-position-y: center;
    background-position-x: 5px;
    background-repeat: no-repeat;
  }
  
  .form-email button {
    display: block;
    margin-bottom: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 30px;
  }
  

.form-email h3 {
    font-family: "Source Sans Pro", sans-serif;
  }