@media screen and (max-width: 1024px) {
    .linkContainer i{
      display: none;
    }
  }
  @media screen and (max-width: 767px) {
    html{
      font-size: 10px;
    }
    .linkContainer{
      display: flex;
      margin-bottom: 5em;
    }
    .linkContainer i{
      display: flex;
     margin-left: 2em;
     color: white;
     opacity: 0.8;

    }
    .link{
      font-size: 4em;
      font-weight: bold;
    }
    /*Se reduce 1 solo pixel para que lo tome de medidas mas debajo del 768 que es un ipad*/
    /*------------------------------------->HEADER*/
    .header {
      height: auto;
      padding-bottom: 40px;
    }
    .header ol {
      display: block;
    }
    .header ol li {
      height: 50px;
    }
    .header a {
      justify-content: left;
    }
    .header .logoContainer {
      text-align: center;
      width: 100%;
    }

    /*--------------------------->HEADER*/

   /*----------------------------------->HERO*/
   .hero-title h2{
    font-size: 2.5em;
   }
        .hero {
          height: auto;
          position: relative;
          padding-left: 10px;
          padding-right: 10px;
        }
        .hero-imageContainer{
          width: 100%;
          text-align: center;
          padding-bottom: 2em;
        }
        .hero-image {
      
          z-index: 1;
          width: 40%;
          right: 0;
        }
        .hero-detail{
          display: flex;
          flex-direction: column-reverse
          
        }
        

        
 /*-------------------------------------->HERO*/

 /*Experiences*/
 
 .experience{
   display: block;
 }
 .experience-sec2{
   max-width: 100%;
   width: 100%;
 }
 .experience-sec2 h4{
  font-size: 1.5em;
 }
 .experience-info-enterprise a{
   text-decoration: none;
 }


 .experience-all-container{
  display: flex;
  flex-direction: column-reverse;
 }

 .experience-details{
  width: 100%;
 }
 .experience-enterprise{
   text-align: center;
   font-size: 2em;
 }
 .experience-image{
   width: 50%;
   height: 50%;
 }
 .experience-title{
   text-align:center
 }
 .experience-achievements h4{
   text-align: center;
 }
 .icon-technologies{
   display: flex;
   flex-wrap: wrap;
   justify-content: initial;
 }
 .icon-technologies a{
   margin-top: 1em;
 }
 .icon-technologies a:hover {
  font-size: 120%;
}
 /*Experiences*/


/*Menu*/   
.menu-container{
  left: -100vw;
}

.burger-button {
  display: block;
}
.menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
  top: 0;
  left: -100vw;
  width: 80vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: left;
  bottom: 0;
  transition: 0.5s;
  font-size: 0.6em;
  font-weight: bold;
}


.menu.is-active {
  left: 0;
}

/*Menu*/

/*Certifications*/
.knowledges{
  display: block;
}
.knowledge{
  width: 100%;
  padding: 2em 0;
  margin: 2em 0;
  display: block;

  
}
.knowledge-first {
  width: 100%;
  text-align: center;
  display: block;
  padding: 1em 0;
}

.knowledge-second {
  width: 100%;
  text-align: center;
  display: block;
  padding: 1em 0;
}

/**/

/*Languages*/
.languages{
  height: auto;
  display: felx;
}
.language-container{
  display: block;
}
.languages-detail{
  display: flex;
  justify-content: space-between;
  height: auto;
  flex-wrap: wrap;

}
.language img{
  width: 15vh;
  height: 15vh;
}
.language{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 48%;
  padding: 2em 0;
  margin: 2em 0;
}
/*Languages*/

/*Footer*/
.footer {
  text-align: center;
}

.footer-first{
  width: 100%;
  text-align:center;
}
.footer-second{
  width: 100%;
  text-align:center;
}

/*Footer*/

  }
  
  @media screen and (max-width: 480px) {
   
  }
  
  @media screen and (max-width: 320px) {
   
  }
  